<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="serviceCar.mapper.OrderMapper">
	
	<resultMap type="pojo.Order" id="Order">
		
	</resultMap>
	
	<resultMap type="pojo.User" id="User">
	  <id property="id" column="Driver_id"/>
	  <result property="username" column="Driver_username"/>
	  <result property="usertype" column="Driver_usertype"/>
	  <result property="logintime" column="Driver_logintime"/>
	  <result property="createtime" column="Driver_createtime"/>
	</resultMap>
	
	<resultMap type="pojo.Department" id="Department">
	  <id property="id" column="Department_id"/>
	  <result property="name" column="Department_name"/>
	</resultMap>
	
	<resultMap type="pojo.Car" id="Car">
	  <id property="id" column="Car_id"/>
	  <result property="carNumber" column="Car_name"/>
	</resultMap>
	
	<resultMap type="hashmap" id="OrderMap">
	 	<id property="id" column="Order_id"/>
  		<result property="starttime" column="Order_starttime"/>
  		<result property="endtime" column="Order_endtime"/>
  		<result property="createtime" column="Order_createtime"/>
  		<result property="status" column="Order_status"/>
  		<result property="reason" column="Order_reason"/>
  		<result property="unitPrice" column="Order_unit_price"/>
  		<result property="dest" column="Order_dest"/>
  		<result property="distance" column="Order_distance"/>
  		<result property="total" column="Order_total"/>
  		
  		<result property="statusName" column="Status_name"/>
  		
  		<result property="passcost" column="Order_passcost"/>
  		<result property="parkcost" column="Order_parkcost"/>
  		<result property="trafcost" column="Order_trafcost"/>
  		<result property="extras" column="Order_extras"/>
  		<result property="remark" column="Order_remark"/>
  		
		<association property="driver"  resultMap ="User">
		</association>
		<association property="department"  resultMap ="Department">
		</association>
		<association property="car"  resultMap ="Car">
		</association>
	</resultMap>
	
	<select id= "getDepartmentList" resultMap = "Department">
		SELECT  DEPART.id AS Department_id,
		    DEPART.name AS Department_name  
		    FROM sc_department DEPART 
	</select>
	
	<select id= "getCarList" resultMap = "Car">
		SELECT  Car.id AS Car_id,
		    Car.car_number AS Car_name  
		    FROM sc_car Car 
	</select>
	
	<select id="selectOrderByKey" resultMap = "Order">
		SELECT 
		    *,Od.owner_id AS ownerId, Od.unit_price AS unitPrice, Od.department_id AS departmentId,
		    Od.driver_id AS driverId, Od.car_id AS carId, 
		     Od.order_status AS orderStatus, 
		    (unit_price * distance + Od.passcost + Od.parkcost + Od.trafcost + Od.extras) AS total
		FROM
		    sc_order Od
		    
		   		<where>
		   			Od.id = #{OrderId} 
		   		</where>
	</select>
	
	<select id= "getOrderList" resultMap ="OrderMap">
	SELECT 
		    Driver.id AS Driver_id,
		    Driver.createtime AS Driver_createtime,
		    Driver.username AS Driver_username,
		    Driver.usertype AS Driver_usertype,
		    Driver.logintime AS Driver_logintime,
		    Od.id AS Order_id,
		    Od.unit_price AS Order_unit_price,
		    (unit_price*distance+Od.passcost+Od.parkcost+Od.trafcost+Od.extras) AS Order_total,
		    Od.passcost AS  Order_passcost,
		    Od.parkcost AS 	Order_parkcost,
		    Od.trafcost AS Order_trafcost,
		    Od.extras AS Order_extras,
		    Od.remark AS Order_remark,
		    Od.distance AS Order_distance,
		    Od.starttime AS Order_starttime,
		    Od.endtime AS Order_endtime,
		    Od.order_status AS Order_status,
		    Od.createtime AS Order_createtime,
		    Od.updatetime AS Order_updatetime,
		    Od.dest AS Order_dest,
		    Od.reason AS Order_reason,
		    Od.updatetime AS Order_updatetime,
		    DEPART.id AS Department_id,
		    DEPART.name AS Department_name, 
		    STATUS.name AS Status_name,
		    CAR.car_number AS Car_name, 
		    CAR.id AS Car_id  
		FROM
		    serviceCar.sc_order Od
		        LEFT JOIN
		    (SELECT 
		        *
		    FROM
		        sc_user
		    WHERE
		        usertype = 1) Driver ON Driver.id = Od.driver_id 
		        LEFT JOIN
		    serviceCar.sc_department DEPART
		     	ON 
		    DEPART.id = Od.department_id 
		    	LEFT JOIN
		    serviceCar.sc_orderStatus STATUS 
		    	ON
		    Od.order_status = STATUS.id 
		    	LEFT JOIN
		    serviceCar.sc_car CAR 
		    	ON
		    Od.car_id = CAR.id 
		   	<if test="orderStatus != null">
		   		<where>
		   		<if test="orderStatus == 1">
			   			Od.order_status = 1
		   		</if>
		   		
		   		<if test="orderStatus == 2">
			   			Od.order_status = 2 OR 
			   			Od.order_status = 3 OR
			   			Od.order_status = 4 OR
			   			Od.order_status = 5 OR
			   			Od.order_status = 7 OR
			   			Od.order_status = 8                                                              
		   		</if>
		   		
		   		<if test="orderStatus == 3">
			   			Od.order_status = 6
		   		</if>
		   		
		   		<!-- 后台行政处待审核 -->
		   		<if test="orderStatus == 5">
			   			Od.order_status = 5
		   		</if>
		   		
		   		
		   		<if test="keywords != null">
			   			And (DEPART.name like concat('%', #{keywords}, '%'))
		   		</if>
		   		
		   		<if test="date != null">
		   			AND YEAR(Od.starttime) = YEAR(STR_TO_DATE(#{date},'%Y-%m')) and MONTH(Od.starttime) =MONTH(STR_TO_DATE(#{date},'%Y-%m'))
		   		</if>
			   	</where>
		   	</if>
	</select>

	<select id= "getOrderDetail" resultMap ="OrderMap">
		SELECT 
		    Driver.id AS Driver_id,
		    Driver.createtime AS Driver_createtime,
		    Driver.username AS Driver_username,
		    Driver.usertype AS Driver_usertype,
		    Driver.logintime AS Driver_logintime,
		    Od.id AS Order_id,
		    Od.unit_price AS Order_unit_price,
		    (unit_price*distance+Od.passcost+Od.parkcost+Od.trafcost+Od.extras) AS Order_total,
		    Od.passcost AS  Order_passcost,
		    Od.parkcost AS 	Order_parkcost,
		    Od.trafcost AS Order_trafcost,
		    Od.extras AS Order_extras,
		    Od.distance AS Order_distance,
		    Od.starttime AS Order_starttime,
		    Od.endtime AS Order_endtime,
		    Od.remark AS Order_remark,
		    Od.order_status AS Order_status,
		    Od.createtime AS Order_createtime,
		    Od.updatetime AS Order_updatetime,
		    Od.dest AS Order_dest,
		    Od.reason AS Order_reason,
		    Od.updatetime AS Order_updatetime,
		    DEPART.id AS Department_id,
		    DEPART.name AS Department_name, 
		    STATUS.name AS Status_name,
		    CAR.car_number AS Car_name, 
		    CAR.id AS Car_id  
		FROM
		    serviceCar.sc_order Od
		        LEFT JOIN
		    (SELECT 
		        *
		    FROM
		        sc_user
		    WHERE
		        usertype = 1) Driver ON Driver.id = Od.driver_id 
		        LEFT JOIN
		    serviceCar.sc_department DEPART
		     	ON 
		    DEPART.id = Od.department_id 
		    	LEFT JOIN
		    serviceCar.sc_orderStatus STATUS 
		    	ON
		    Od.order_status = STATUS.id 
		    	LEFT JOIN
		    serviceCar.sc_car CAR 
		    	ON
		    Od.car_id = CAR.id 
		   	<if test="OrderId != null">
		   		<where>
		   			Od.id = #{OrderId} 
		   		</where>
		   			limit 1
		   	</if>
	</select>
	
</mapper> 