<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="serviceCar.mapper.OvertimeMapper">
	<resultMap type="pojo.Overtime" id="Overtime">
	</resultMap>
	
	<select id = "selectByOrderId" resultMap = "Overtime">
		SELECT * from sc_overtime ot 
			<where>
			ot.order_id = #{orderId}
			</where>
	</select>
</mapper> 