<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="serviceCar.mapper.UserMapper" >
	<select id= "findUserByUsername" resultMap ="User">
		select * from sc_user  
			<where>
				username = #{mobile}	
			</where>
		limit 1
	</select>
	
	<select id="getDriverList" resultType="hashmap">
		select * from sc_user
		<where>
			usertype = 1
		</where>
	</select>
	
	<resultMap type="pojo.User" id="User">
	</resultMap>
</mapper>