<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="serviceCar.mapper.UserMapper" >


	<resultMap type="pojo.User" id="User"></resultMap>
	<resultMap type="pojo.Notify" id="Notify"></resultMap>
	
	<resultMap type="hashmap" id="UserType"></resultMap>
	
	<select id= "findUserByUsername" resultMap ="User">
		select * from sc_user  
			<where>
				username = #{mobile}	
			</where>
		limit 1
	</select>
	
	<select id="getDriverList" resultType="hashmap">
		select * from sc_user
		<where>
			usertype = 1
		</where>
	</select>
	
	<select id="getUserTypes" resultMap = "UserType">
		select * from sc_usertype
	</select>
	
	<select id="getDriverListWithUserType" resultType="hashmap">
		SELECT 
		    User.id AS id,
		    username,
		    createtime,
		    updatetime,
		    typename,
		    usertype,
		    logintime
		FROM
		    sc_user User
		        LEFT JOIN
		    sc_usertype type 
				ON 
			User.usertype = type.id
	</select>
	
	<select id="getUserListWithType" resultType="hashmap">
		select * from sc_user
		<where>
			usertype = 1
		</where>
	</select>
	
	<select id="getNotify" resultMap="Notify">
		select * from sc_notify
		<where>
			rec_id = #{userId}
		</where>
	</select>
	
	<insert
	  id="insertNotify"
	  parameterType="pojo.Notify"
	  flushCache="true"
	  statementType="PREPARED"
	  timeout="20">
	  insert into sc_notify (createtime,updatetime,title,content,rec_id)
	  values(#{createtime},#{updatetime},#{title},#{content},#{recId})
  	</insert>
</mapper>